#EmojiCollectorGameElement {
  position: fixed;
  top: 100px;
  left: 100px;
  z-index: 2147483647;
  opacity: 0;
  animation: emojiCatcherShowAndHide 10s linear 1;
}
#EmojiCollectorGameElement[data-is-first-emoji] {
  animation: emojiCatcherShow 1s linear 1;
  opacity: 1;
}
#EmojiCollectorGameElement .EC-emoji-btn {
  font-size: 40px;
  cursor: pointer;
  animation: emojiCatcherRotate 10s linear infinite;
}
#EmojiCollectorGameElement .EC-emoji-btn.shiny {
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 10px #f0e68c;
}
#EmojiCollectorGameElement .EC-emoji-points {
  font-family: "Press Start 2P";
  display: none;
  font-size: 40px;
  color: #fafafa;
  -webkit-text-stroke: 2px #9e9e9e;
}
#EmojiCollectorGameElement.clicked.clicked.clicked {
  animation: emojiCatcherFloat 1s linear 1;
}
#EmojiCollectorGameElement.clicked .EC-emoji-btn,
#EmojiCollectorGameElement.clicked .EC-click-me {
  display: none;
}
#EmojiCollectorGameElement.clicked .EC-emoji-points {
  display: block;
}

#EmojiCollectorGameElement .EC-click-me {
  font-family: "Press Start 2P";
  font-size: 24px;
  user-select: none;
  white-space: nowrap;
  position: absolute;
  top: 16px;
  left: 64px;
}

@keyframes emojiCatcherShowAndHide {
  0% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes emojiCatcherShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes emojiCatcherRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes emojiCatcherFloat {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
    transform: translate(0, -37.5px);
  }
  100% {
    opacity: 0;
    transform: translate(0, -50px);
  }
}
